* {
	padding:0;
	margin:0;
	border:none;
	-webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.6px;
}

#debug{
	color: red;
	position: absolute;
	left: 150px;
}

#canvas {
	position: absolute;
	left: 10px;
	top:  10px;
	width: 320;
	height: 568;
	background-color: #000;
	border: 1px solid #333;
	-webkit-transform: translate3d(0,0,0);
}

body{
	background: #111;
}
