@font-face{
	font-family: OpenSans;
	src: url('fonts/OpenSans-Light.ttf');
}

div{
	font-family: OpenSans;
}

* {
	padding:0;
	margin:0;
	border:none;
	-webkit-user-select: none; 
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.6px;
}

#background {	
	position: absolute;	
	width:320;
	height:568;
	background-color: #000;
	overflow: hidden;
}

#canvas {
	width: 320;
	height: 568;
	background-color: #000;
}

#timer{
	text-align: left;
	position: absolute;
	width: 100%;
	left: 10px;
	bottom: -5px;
	color: #fff;
	height: 40px;
}

#levelup {
	left: -1000px;
	text-align: center;
	color: #fff;
	position: absolute;
	width: 100%;
	top: 0%;
	margin-left: 0%;
	height: 100%;
	opacity: 0.0;
	background-color: #000;
	border: solid;
	transition: opacity 4.0s;
}

#levelcomplete{
	margin-top: 60%;
	overflow: visible;
	white-space: nowrap;
	height: 70px;	
	color: #fff;
	font-size: 34px;
	text-shadow: 0 0 20px #fff;
	line-height: 100px;
}

#taptocontinue{
	color: #50647D;
	font-size: 12px;
	margin-left: 5%;
	width: 90%;
	letter-spacing: 10px;
	line-height: 26px;
	text-shadow: 0 0 10px rgba(255,255,255,0.5);
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(255,255,255,0.3);

	-webkit-animation: pulsate 2s ease-in-out;
	-webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.6;}
    50% {opacity: 1.0;}
    100% {opacity: 0.6;}
}